/* .CreatePost-createButton {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #AEF8DB;
    color: white;
    border: none;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.CreatePost-createButton:hover {
    background-color: #81ffcd;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.CreatePost-createButton:active {
    background-color: #5ed9b2;
    transform: translateY(2px);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
} */